/* .configurator {
	width: 100vw;
	height: 100vh;
	background-color: var(--background-page-config);
} */

.configurator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--background-page-config);
}
#emersyaIframe, #emersyaContainer {
	background-color: var(--background-page-config);
}
div#testPanelCtn {
	display: none;
}