.configurator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80vh;
	background-color: var(--background-page-config);
}
#emersyaIframe, #emersyaContainer {
	background-color: var(--background-page-config);
}
#emersyaIframe {
	max-height: 80%;
}
div#testPanelCtn {
	display: none;
}

.scroll-to-top.scroll-show-mobile {
	display: none;
}
.site-footer {
	display: none;
}

.wpml-ls-legacy-list-vertical.wpml-ls-statics-footer {
	display: none;
}