.suede_blue {
	fill:#253658;
}
.suede_black {
	fill:#000000;
}
.leather_brown {
	fill:#7c4024;
}
.leather_black {
	fill:#000000;
}
.chin_band_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_band_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_checker_st0 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_checker_st1 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_contour_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_contour_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_dots_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_dots_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_dual_st0 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_dual_st1 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_extend_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_extend_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_half_st0 {
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_half_st1 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_outline_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_outline_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_outline_st2 {
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_parabol_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_parabol_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_plain_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_plain_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_stars_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.chin_stars_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.black_leather_st0 {
	fill:#4E4E50;
}
.black_leather_st1 {
	clip-path: url(#SVGID_2_);
}
.black_leather_black_leather_st2 {
	fill:#010101;
}
.black_leather_st3 {
	fill:#333333;
}
.black_leather_st4 {
	fill: none;
	stroke:#4D4D4D;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.black_leather_st5 {
	fill: none;
	stroke:#4D4D4D;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 3.9611, 3.9611;
}
.black_rubber_st0 {
	fill:#575757;
}
.black_rubber_st1 {
	fill:#414141;
}
.brown_leather_st0 {
	fill:#580D0D;
}
.brown_leather_st1 {
	clip-path: url(#SVGID_2_);
}
.brown_leather_st2 {
	fill:#A44324;
}
.brown_leather_st3 {
	fill:#781214;
}
.brown_leather_st4 {
	fill:#451211;
}
.brown_leather_st5 {
	fill: none;
	stroke:#6B0D0E;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 3.9611, 3.9611;
}
.white_rubber_st0 {
	fill:#FFFFFF;
	stroke:#000000;
	stroke-width: 0.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.white_rubber_st1 {
	fill:#575757;
}
.white_rubber_st2 {
	fill:#CCCCCC;
	stroke:#000000;
	stroke-width: 0.5;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.glossy_varnish_st222 {
	fill:#233658;
}
.mat_varnish_st0 {
	fill:#939598;
}
.right_st0 {
	fill:#233658;
}
.right_st1 {
	fill:#3CB54A;
}
.wrong_st0 {
	fill:#233658;
}
.wrong_st1 {
	fill:#ED2024;
}
.classic_st0 {
	fill:#233658;
}
.dirt_st0 {
	fill:#233658;
}
.pixel_st0 {
	fill:#233658;
}
.racing_st0 {
	fill:#233658;
}
.shell_band_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_band_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_band_st2 {
	fill:#BCBEC0;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_checker_st0 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_checker_st1 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_chester_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_chester_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_contour_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_contour_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_dots_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_dots_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_dual_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_dual_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_dual_st2 {
	fill:#BCBEC0;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_extend_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_extend_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_gradient_st0 {
	fill: url(#SVGID_1_);
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_gradient_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_gradient_st2 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_half_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_half_st1 {
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_half_st2 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_half_st3 {
	fill:#BCBEC0;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_horizontal_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_horizontal_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_outline_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_outline_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_outline_st2 {
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_plain_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_plain_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_stars_st0 {
	fill:#FFFFFF
	;stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_stars_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-miterlimit: 10;
}
.shell_vertical_st0 {
	fill:#FFFFFF;
	stroke:#231F20;
	stroke-width:0.4956;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
.shell_vertical_st1 {
	fill:#231F20;
	stroke:#231F20;
	stroke-width: 0.4956;
	stroke-linecap: round;
	stroke-linejoin:r ound;
	stroke-miterlimit: 10;
}
.screwNone_st0 {
	fill:#F2F2F2;
	stroke:#939393;
	stroke-width: 0.2683;
	stroke-miterlimit: 10;
}
.screwNone_st1 {
	fill:#233658;
}
.screwBottom_st0 {
	fill:#F2F2F2;
	stroke:#939393;
	stroke-width: 0.2683;
	stroke-miterlimit: 10;
}
.screwBottom_st1 {
	fill:#233658;
}
.screwTop_st0 {
	fill:#F2F2F2;
	stroke:#939393;
	stroke-width: 0.2683;
	stroke-miterlimit: 10;
}
.screwTop_st1 {
	fill:#233658;
}
.screwAll_st0 {
	fill:#F2F2F2;
	stroke:#939393;
	stroke-width: 0.2683;
	stroke-miterlimit: 10;
}
.screwAll_st1 {
	fill:#233658;
}
.export_st0 {
	fill:#233658;
}
.menuOption {
	fill:#233658;
}
.info_logo_st0 {
	fill:#233658;
}
svg#info_logo:hover > g > .info_logo_st0 {
	filter: invert(0.6);
}
.closeOption_st100 {
	fill:#FFFFFF;
}
.closeOption_st101 {
	fill:#233658;
}
.exportWindow_closeLogo_st100 {
	fill:#FFFFFF;
}
.exportWindow_closeLogo_st101 {
	fill:#233658;
}
.link_st0 {
	fill:#233658;
}
.download_st0 {
	fill:#233658;
}
.frame_full_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_full_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_full_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_full_st3 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.1436;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_light_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_light_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_light_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 7.830445e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.frame_light_st3 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.1436;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_transp_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_transp_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_transp_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_transp_st3 {
	opacity: 0.1;
}
.long_transp_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_black_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_black_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_black_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_black_st3 {
	opacity: 0.9;
}
.long_black_st4 {
	fill:none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_blue_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_blue_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_blue_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_blue_st3 {
	fill: url(#long_blueSVGID_1_);
	enable-background:new;
}
.long_blue_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_chrome_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_chrome_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_chrome_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_chrome_st3 {
	fill: url(#long_chromeSVGID_1_);
}
.long_chrome_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_semi_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_semi_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_semi_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.long_semi_st3 {
	opacity: 0.4;
}
.long_semi_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_transp_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_transp_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_transp_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_transp_st3 {
	opacity: 0.1;
	stroke:#010101;
	stroke-width: 7.352139e-02;
	stroke-linecap: round;
	stroke-linejoin: round;}
.short_transp_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_black_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_black_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_black_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_black_st3 {
	opacity: 0.9;
	stroke:#010101;
	stroke-width: 7.352139e-02;
	stroke-linecap: round;
	stroke-linejoin: round;}
.short_black_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_blue_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_blue_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_blue_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_blue_st3 {
	fill: url(#short_blueSVGID_1_);
	enable-background: new;
}
.short_blue_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_chrome_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width :0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_chrome_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_chrome_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_chrome_st3 {
	fill: url(#short_chromeSVGID_1_);
	enable-background: new;
}
.short_chrome_st4 {
	fill: none;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_semi_st0 {
	fill:#CCCCCC;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_semi_st1 {
	fill:#4D4D4D;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_semi_st2 {
	fill:#808080;
	stroke:#010101;
	stroke-width: 0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_semi_st3 {
	opacity: 0.4;
	stroke:#010101;
	stroke-width: 7.352139e-02;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.short_semi_st4 {
	fill: none;
	stroke:#010101;
	stroke-width :0.25;
	stroke-linecap: round;
	stroke-linejoin: round;
}